.reise-tile {
  background-color: white;
  border: 5px solid white;
  border-radius: 1rem;
  color: black;
  padding: 1rem;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  :host([selected]) & {
    background-color: rgb(220, 255, 200);
    border-color: #0c0;
    cursor: unset;
  }
}

.tile-top {
  margin-bottom: 1rem;
}

.headline {
  margin-top: 0;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}

.price {
  font-weight: bold;
  font-size: 30pt;
  color: #090;
}